<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.pacchetto"
	android:versionCode="2"
	android:versionName="RC"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="25"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<application
		android:icon="@drawable/icon"
		android:label="Bluetooth Media Remote"
		android:theme="@android:style/Theme.Material.Wallpaper">
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="Bluetooth Media Remote"
			android:screenOrientation="unspecified">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".controls"
			android:label="Bluetooth Media Remote"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".keyboard"
			android:label="Bluetooth Media Remote"
			android:screenOrientation="unspecified">
		</activity>
	</application>
</manifest>